@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{
	font-family: 'Roboto', sans-serif;
}
.App {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.carousel-caption{
	background-color: rgba(#000, 0.5);
}
.carousel-item{
	height: 75vh;
	min-height: 500px;
	max-height: 650px;
	overflow: hidden;
	img{
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.jumbotron.jumbotron{
	background-color: #3268bd;
	color: white;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
