.accordion {
    .card-header {
        background-color: #3268bd;
        color: #ffffff;
        a {
            color: #ffffff;
        }
    }
}

img {
    width: 100%;
    height: auto;
}

.single {
    padding: 0 0 5vw 0;
}