.marvelCard {
    margin-bottom: 30px;
    .card {
        height: 100%;
        .card-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            padding-top: 1.75em;
            padding-bottom: 1.75em;
            a {
                margin-top: auto;
            }
        }
    }
}